.estadísticas {
    color: white;
    padding: 5%;
    height: 90%;

    &__selector {
        border: none;
        background-color: transparent;
        color: white;
        width: 50%;
        cursor: pointer;
        font-size: 1.4em;
    }

    &__option {
        background-color: black;
    }

    &__contenedor {
        border: solid rgb(106, 110, 123) 2px;
        margin: 4% auto;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 8px;
    }

    &__correcto {
        color: green;
    }

    &__incorrecto {
        color: red;
    }

    &__icon {
        width: 30px;
        height: 30px;
    }

    &__info{
        margin: 0;
    }
}