.cuestionarios {
  background-color: #090809;
  height: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  position: relative;

  p {
    color: #dfdfdf;
    font-size: 18px;
  }

  .cuestionario {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    figure {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      border: 7px #dfdfdf solid;
      margin-bottom: 5px;

      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        image-orientation: from-image;
      }
    }

    h2 {
      font-size: 20px;
      color: #dfdfdf;
    }
  }

  .progress-bar {
    background-color: #fff;
    height: 15px;
    border-radius: 10px;

    .progress {
      background-color: #43AA8B;
      height: 100%;
      width: 0;
    }
  }

  .respuesta {
    border: 1px solid #fff;
    background-color: #0D1F22;
    border-radius: 5px;
    cursor: pointer;

    .circulo {
      border: 1px solid #fff;
      width: 20px;
      height: 20px;
      cursor: pointer;
      border-radius: 50%;
    }

    .circle-selected {
      background-color: #71A9F7;
    }
  }

  .selected {
    border-color: #71A9F7;
  }

  .correcta {
    border-color: #43AA8B;
  }

  .incorrecta {
    border-color: red;
  }

  .btn {
    background-color: #D9BDC5;
    border-radius: 15px;
    color: white;
    font-weight: bolder;
  }

  .modal-cuestionario {
    background-color: #43AA8B;
    width: 100%;
    height: 25%;
    position: absolute;
    bottom: 0px;
    animation-duration: 1s;
    animation-name: desplazamiento;

    .btn {
      background-color: #2f745f;
    }
  }
}


@keyframes desplazamiento {
  from {
    bottom: -100px;
  }

  to {
    bottom: 0;
  }
}